.poem1 {
    font-family: Arial, Helvetica, sans-serif;
}

.poem2 {
    font-family: cursive;
}

.poem3 {
    font-family: monospace;
}

.poem4 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.poem5 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}